ul {
  list-style-type: none;
}

.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Alphabet {
  width: 100vw;
}

.Alphabet-ul {
  width: 100vw;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-App {
  padding-top: 35px;
}

.inline {
  display: inline-block;
  padding: 15px;
  margin: 25px;
  cursor: pointer;
  border: 1px solid black;
}

/* li.k-letter.inline {
  margin-right:40vw;
}
li.m-letter.inline {
    margin-right: 40vw;
}
li.o-letter.inline {
    margin-right: 40vw;
} */

.message {
  height: 5vh;
}

.autofills {
  height: 3vh;
}

.footer {
  padding: 15px;
  margin: 15px;
  margin-top: 105px;
}

.link {
   padding: 15px;
  margin: 15px;
}

.send-to {
  margin: 105px;
  margin-top: 60px;
}

.signin {
  margin: 135px;
  text-align: center;
}